/**screen breakpoints*/
/*primary colors*/
/*secondary colors*/
/*mobile padding layout*/
/*tablet padding layout*/
/*desktop padding*/
/*screen breakpoints*/
/*forms*/
/*margin reset*/
.hero-img {
  display: flex;
  align-items: center;
  position: relative;
}
.hero-img__background {
  width: 100%;
}
.hero-img__overlay {
  background-color: #323232;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  display: flex;
}
.hero-img__page-title {
  display: flex;
  position: absolute;
  color: #ffffff;
  padding: 0rem 1rem;
}
@media (min-width: 48rem) {
  .hero-img__page-title {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .hero-img__page-title {
    margin: 0;
    padding: 4rem 10rem;
  }
}

.musicians-article {
  padding: 0rem 1rem;
  /*main image in section*/
  /*offset contain for artices and content when in desktop and tablet view*/
  /*quote under image*/
  /*text block section */
}
@media (min-width: 48rem) {
  .musicians-article {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .musicians-article {
    padding: 0rem 10rem;
  }
}
.musicians-article__image {
  width: 100%;
}
@media (min-width: 48rem) {
  .musicians-article__content-box {
    padding: 0 3.5rem;
  }
}
@media (min-width: 80rem) {
  .musicians-article__content-box {
    padding: 0 5rem;
  }
}
.musicians-article__blockquote {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .musicians-article__quotation--author {
    font-size: 1rem;
  }
}
@media (min-width: 48rem) {
  .musicians-article__side-blocks--title {
    font-weight: 600;
  }
}
@media (min-width: 48rem) {
  .musicians-article__side-blocks .musicians-article__side-by-side {
    display: flex;
  }
}
.musicians-article__side-blocks p {
  margin-right: 1rem;
  width: 80%;
}

.photo-gallery {
  background-color: #FAFAFA;
  /*padding layout*/
  padding: 0rem 1rem;
  /*box to contain 3 x 3 images in tablet and desktop view*/
  /*images*/
}
@media (min-width: 48rem) {
  .photo-gallery {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .photo-gallery {
    margin: 0;
    padding: 0rem 10rem;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__box {
    width: 100%;
  }
}
.photo-gallery__images {
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .photo-gallery__images {
    padding-right: 1rem;
    width: calc(33% - 0.1rem);
  }
}
@media (min-width: 80rem) {
  .photo-gallery__images {
    padding-right: 1rem;
    width: calc(33% - 0.1rem);
  }
}

.comments {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  /*these are general stylings throughout section*/
  /*this first section is for the user inputting comments*/
  /*flex box for user input comments*/
  /*written text area*/
  /*comment section*/
  /*this second section is form the comments that are listed after inputting*/
}
@media (min-width: 48rem) {
  .comments {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 48rem) and (min-width: 80rem) {
  .comments {
    padding: 0rem 10rem;
  }
}
.comments__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .comments__block {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .comments__block {
    padding: 0rem 10rem;
  }
}
.comments__button {
  border-radius: 0.3rem;
  height: 2.5rem;
  color: #ffffff;
  background-color: #323232;
  margin: 1rem 0rem;
  width: 100%;
}
.comments__button:hover {
  background-color: #000000;
}
@media (min-width: 48rem) {
  .comments__button {
    min-width: 9.375rem;
    max-width: 9.375rem;
    padding: 0rem 1.938rem;
    margin-left: auto;
  }
}
.comments__divider {
  border-top: 0.063rem solid #E1E1E1;
  width: 100%;
}
.comments__form-flex {
  display: flex;
}
.comments__form-img-box {
  display: flex;
  padding-top: 2.25rem;
}
.comments__form-avatar {
  border-radius: 50%;
  max-height: 2.25rem;
  width: 2.25rem;
}
@media (min-width: 48rem) {
  .comments__form-avatar {
    max-height: 3rem;
    width: 3rem;
  }
}
.comments__comment-box {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 0rem 1rem;
}
.comments__form-label {
  padding-bottom: 0.25rem;
  font-weight: 600;
  color: #E1E1E1;
  padding-top: 1rem;
}
.comments__name {
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #ffffff;
  border: 0.063rem #E1E1E1 solid;
  outline-color: #323232;
}
.comments__name::-moz-placeholder {
  color: #323232;
  font-weight: 600;
}
.comments__name:-ms-input-placeholder {
  color: #323232;
  font-weight: 600;
}
.comments__name::placeholder {
  color: #323232;
  font-weight: 600;
}
.comments__name:active {
  border: #323232;
}
.comments__text-area {
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #ffffff;
  border: 0.063rem #E1E1E1 solid;
  outline-color: #323232;
  height: 10rem;
}
.comments__text-area::-moz-placeholder {
  color: #323232;
  font-weight: 600;
}
.comments__text-area:-ms-input-placeholder {
  color: #323232;
  font-weight: 600;
}
.comments__text-area::placeholder {
  color: #323232;
  font-weight: 600;
}
.comments__text-area:active {
  border: #323232;
}
.comments .validation {
  border: 0.063rem #d22d2d solid;
}
.comments__listed-block {
  padding-bottom: 2rem;
}
.comments__listed-block__listed-comments-section {
  width: 100%;
}
.comments__listed-comments-flexbox {
  padding: 0rem 1rem;
  position: relative;
  width: 100%;
}
.comments__listed-img-flexbox {
  padding-top: 1rem;
}
.comments__listed-date {
  display: inline-flex;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 0;
  color: #E1E1E1;
  font-weight: 500;
}
.comments__avatar-placeholder {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  background-color: #E1E1E1;
}
.comments__listed-subheader {
  display: inline-flex;
  height: 1rem;
  font-weight: 600;
}
.comments__listed-text-area {
  margin: 0;
  font-weight: 400;
}
.comments__listed-comments-section {
  display: flex;
}/*# sourceMappingURL=bio.css.map */