/**screen breakpoints*/
/*primary colors*/
/*secondary colors*/
/*mobile padding layout*/
/*tablet padding layout*/
/*desktop padding*/
/*screen breakpoints*/
/*forms*/
/*margin reset*/
.hero-img {
  background-color: #323232;
  position: relative;
}
.hero-img__background {
  background-image: url(../../../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0rem 1rem;
  width: 100%;
  opacity: 0.5;
  position: relative;
  z-index: 3;
  border: olive 4px solid;
}
@media (min-width: 48rem) {
  .hero-img__background {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 48rem) and (min-width: 80rem) {
  .hero-img__background {
    padding: 0rem 10rem;
  }
}
.hero-img__small-title {
  color: #ffffff;
  position: relative;
  z-index: 4;
}
.hero-img__page-title {
  color: #ffffff;
}

.shows {
  background-color: #FAFAFA;
  padding: 0rem 1rem;
}
@media (min-width: 48rem) {
  .shows {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 48rem) and (min-width: 80rem) {
  .shows {
    padding: 0rem 10rem;
    display: inline-flex;
    width: 100%;
  }
}
@media (min-width: 80rem) {
  .shows__main-header {
    display: inline-flex;
    width: 15%;
  }
}
.shows__list {
  width: 100%;
}
@media (min-width: 80rem) {
  .shows__list {
    padding: 3rem 0em 2.25rem 0rem;
  }
}
.shows__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.shows__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .shows__block {
    flex-direction: row;
    border: yellow 3px solid;
    justify-content: space-between;
    flex-grow: 2;
    width: 100%;
  }
}
@media (min-width: 48rem) and (min-width: 80rem) {
  .shows__block {
    display: flex;
  }
}
.shows__dates-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .shows__dates-block {
    display: inline-flex;
    border: pink 3px solid;
    flex-direction: column;
  }
}
.shows__venue-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .shows__venue-block {
    display: inline-flex;
    flex-direction: column;
    border: pink 3px solid;
  }
}
.shows__location-block {
  display: flex;
  flex-direction: column;
}
.shows__header {
  color: #E1E1E1;
  font-weight: 500;
  display: inline-flex;
  height: 2rem;
  border: blue 3px solid;
}
.shows__date {
  font-weight: 600;
  display: inline-flex;
  height: 3rem;
  border: green 2px solid;
}
@media (min-width: 48rem) {
  .shows__button-block {
    display: flex;
    align-items: center;
  }
}
.shows__button {
  border-radius: 0.3rem;
  height: 2.5rem;
  color: #ffffff;
  background-color: #323232;
  margin: 1rem 0rem;
  width: 100%;
}
.shows__button:hover {
  background-color: #000000;
}
@media (min-width: 48rem) {
  .shows__button {
    min-width: 9.375rem;
    max-width: 9.375rem;
    padding: 0rem 1.938rem;
    margin-left: auto;
  }
}
.shows__divider {
  border-top: 0.063rem solid #E1E1E1;
  width: 100%;
}

@media (min-width: 48rem) {
  .shows__section:nth-child(n+2) > .shows__block > .shows__dates-block > .shows__header {
    display: none;
  }
}
@media (min-width: 48rem) {
  .shows__section:nth-child(n+2) > .shows__block > .shows__venue-block > .shows__header {
    display: none;
  }
}
@media (min-width: 48rem) {
  .shows__section:nth-child(n+2) > .shows__block > .shows__location-block > .shows__header {
    display: none;
  }
}/*# sourceMappingURL=show.css.map */