/*mobile padding layout*/

@mixin mobile-general-padding-headlines{
    margin: 0;
    padding: 1.5rem 0rem 1rem 0rem;
  }
    
  @mixin mobile-general-padding-no-top{
    padding: 0rem 1rem 1rem 1rem;
  }

  @mixin mobile-padding-sides {
    padding: 0rem 1rem;
  }

  @mixin mobile-footer-padding-between-contacts{
    padding-bottom: 1rem;
  }

  /*tablet padding layout*/

  @mixin tablet-padding-nav{
    margin: 0;
    padding: 3rem 2.25em 2.25rem 2.25rem;
  }

  @mixin tablet-padding-headlines{
    margin: 0;
    padding: 3rem 0em 2.25rem 0rem;
  }

  @mixin tablet-padding-article-block{
    padding: 0 3.5rem;
  }

  @mixin photo-gallery-padding{
    margin: 0;
    padding: 0rem 0rem 1.25rem 2.25rem;
  }

  @mixin tablet-footer-padding-between-text{
    padding: 0rem 0rem 2.25rem 0rem;
  }

  @mixin tablet-padding-sides{
    padding: 0rem 2.25rem;
  }


  /*desktop padding*/

  @mixin desktop-padding-headlines{
    margin: 0;
    padding: 4rem 10rem;
  }

  @mixin desktop-article-block-padding{
    padding: 0 5rem;
  }

  @mixin desktop-photo-gallery-padding{
    margin: 0;
    padding: 0rem 10rem;
  }

  @mixin desktop-padding-sides{
    padding: 0rem 10rem;
  }
