@use './mixin' as *;
@use './variable' as *;
@use './typography' as *;

.footer{
    background-color: $black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: $white;


    &__headline{
        color: $white;
        @include mobile-general-padding-headlines;
        }

    //social logos

    &__social-links{
        @include mobile-general-padding-no-top;
        
        &--images{
                padding-right: 1rem;
            }
        }
    
    //address and contact info 

    &__name-and-company{
        h4{
            margin: 0;
        }
            @include mobile-general-padding-no-top
    }

    &__address{
            @include mobile-general-padding-no-top;
    }

    &__email{
            @include mobile-general-padding-no-top;
    }

    // copyright section

     &__copyright{

        &--text{
        @include mobile-general-padding-no-top;
        }
     }
}