@use './mixin' as *;
@use './variable' as *;
@use './typography' as *;

.footer{
    background-color: $black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: $white;
    @include mobile-padding-sides;
    border: yellow 2px solid;

    @include tablet{
        flex-direction: row;
        @include tablet-padding-sides;

        @include desktop{
            @include desktop-padding-sides;
        }
    }


    &__headline{
        color: $white;
        @include mobile-general-padding-headlines;
        border: blue 2px solid;

        @include tablet{
            width: 33%;
            }
        }

    //social logos

    &__social-links{
        
        display: flex;
        border: green 2px solid;
        padding-bottom: 1rem;

        @include tablet{
            padding: 0;
            width: 32%;
        }
        
        &--images{
            border: red 2px solid;
                padding-right: 2rem;
                display: flex;

                @include tablet{
                    align-items: center;
                }

                img{
                    height: 2rem;
                }
            }
        }

    &__logo-text-nonMobile{
        align-self: center;
        flex-grow: 2;
        text-align: right;
        
    }
    
    //address and contact info 
    @include tablet{
        
        &__information{
        display: flex;
        border: yellow 3px solid;
        width: 100%;

        @include tablet{
            padding-bottom: 0;
        }

        .footer-stylings{
            margin-right: 1rem;
                width: 30%;
            border: yellowgreen 4px solid;
            flex-grow: 2;

            
            }
        }
    }


    &__name-and-company{
        h4{
            margin: 0;
            font-weight: 600;
        }

        @include mobile-footer-padding-between-contacts;

      
        @include tablet{
            @include footer-padding-between-text;
        }
        
    
    }

    &__address{

            @include tablet{
                @include footer-padding-between-text;
            }
    }

    &__email{
      

            @include tablet{
                padding: 0;
            }
    }

    /*reset address font default*/
    address{
        font-style: normal;
    }



    // copyright section

     &__copyright{
         border: blue 2px solid;

         &--text{
            margin-top: 0;
            border: green solid 2px;
            }
        }
    &__logo--text-two{
        max-height: 1.25rem;
        max-width: 7.5rem;
        padding-bottom: 1rem;

                @include tablet{
                    display: none;
                }
    }

    
     
}