@use './variable' as *;
@use './mixin' as *;
@use './typography' as *;

header{
    background-color: $black;
        
    .header__wrapper{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        border: blue 2px solid;

        @include tablet{
            display: inline-flex;
            width: 100%;
            }
        }

        .logo{
            @include mobile-general-padding-headlines;
            color: $white;
            border: green 4px solid;

            @include tablet{
                display: inline-flex;
                align-items: center;
                width: 30%;
                @include general-padding-headlines;
            }

            @include desktop{
                @include desktop-padding-headlines;
            }

            &__text{
                align-items: center;
                border: blue 2px solid;
                max-height: 1.25rem;
                max-width: 7.5rem;
            }
        }

        .nav-bar{
            width: 100%;
            border: yellow 2px solid;

            @include tablet{
                width: 70%;
            }

            &__list{
                display: flex;
                color: $white;
                margin-block-start: 0em;
                padding-left: 0;
                height: 100%;
                border: 2px magenta solid;

                @include tablet{
                    display: inline-flex;
                    align-items: center;
                    margin-block-end: 0em;
                }
            }

            &__item{
                width: 50%;
                display: flex;
                align-items: center;
                border: mediumturquoise 2px solid;

                @include tablet{
                    margin-right: 1rem;
                    align-items: center;
                }
            }

            &__link{
                flex-grow: 2;  
                color: $mercury;  
                text-align: center;
                border: midnightblue 4px solid;

                @include tablet{
                    height: 100%;
                    @include general-padding-headlines

                }


                &:hover{
                    border-bottom: $alabaster 10px solid;
                    color: $white;
                    font-weight: 600;

                }
            }  
    }
}




/*888888888888888888888888*/

/*
body {
    margin: 0;
    font-family: sans-serif;
}

.page-title {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #eeeeee;
    border-bottom: 5px solid grey;

    @include tablet {
        background-color: #ccc;
        border-bottom-color: magenta;
        color: white;
    }

    @include desktop {
        background-color: #aaa;
        border-bottom-color: lightgoldenrodyellow;
    }
}

.mobile-menu {
    padding: 1rem;
    text-align:center;
    background-color: papayawhip;

    @include tablet {
        display: none;
    }
}

.gallery {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        margin: 1rem;

        @include tablet {
            width: calc(33.333% - 2rem);
        }

        @include desktop {
            width: calc(25% - 2rem);
        }
    }
}

.image {
    width: 40%;
}
*/