@use './variable' as *;
@use './mixin' as *;
@use './typography' as *;

header{
    background-color: $black;
        
    .header__wrapper{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        width: 95%;
        }

        .logo{
            padding: 1.25rem;
            color: $white;
            align-items: center;

            &__text{
                max-height: 1.25rem;
                max-width: 7.5rem;
            }
        }

        .nav-bar{
            width: 100%;

            &__list{
                display: flex;
                color: $white;
                margin-block-start: 0em;
                padding-left: 0;
                height: 100%;
            }

            &__item{
                width: 50%;
                display: flex;
                text-align: center;
            }

            &__link{
                flex-grow: 2;

                &--selected{
                    border-bottom: $alabaster 10px solid;
                }
            }  
    }
}




/*888888888888888888888888*/

/*
body {
    margin: 0;
    font-family: sans-serif;
}

.page-title {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #eeeeee;
    border-bottom: 5px solid grey;

    @include tablet {
        background-color: #ccc;
        border-bottom-color: magenta;
        color: white;
    }

    @include desktop {
        background-color: #aaa;
        border-bottom-color: lightgoldenrodyellow;
    }
}

.mobile-menu {
    padding: 1rem;
    text-align:center;
    background-color: papayawhip;

    @include tablet {
        display: none;
    }
}

.gallery {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        margin: 1rem;

        @include tablet {
            width: calc(33.333% - 2rem);
        }

        @include desktop {
            width: calc(25% - 2rem);
        }
    }
}

.image {
    width: 40%;
}
*/