@use './mixin' as *;
@use './variable' as *;

.hero-img{
    
    background-image: url(../../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    &__overlay{
    background-color: $black;
    position: absolute;
    height: 60vh;
    width: 100%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    
    }

    @include mobile{
        height: 60vh;
    }


    &__page-title{
        position: absolute;
        color: $white;
        padding: 1rem;

    }
}