@use './variable' as *;


@mixin mobile{
        @media (min-width: $breakpoint-mobile){
            @content;

            
        }
}
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin mobiletext--page-header {
    font-family: 'AvenirNext LT Pro';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
@mixin mobiletext--section-header{
    font-family: 'AvenirNext LT Pro';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  @mixin mobiletext--subheader{
    font-family: 'AvenirNext LT Pro';
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  
  @mixin mobiletext--body{
    font-family: 'AvenirNext LT Pro';
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
  
  @mixin mobiletext--footer{
    font-family: 'AvenirNext LT Pro';
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
  
  @mixin mobiletext--labels-buttons{
    font-family: 'AvenirNext LT Pro';
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }


  /*mobile layout*/

  @mixin mobile-general-padding-headlines{
    margin: 0;
    padding: 1.5rem 1rem 1rem 1rem;
  }
    
  @mixin mobile-general-padding-no-top{
    padding: 0rem 1rem 1rem 1rem;
  }