@use './mixin' as *;

.musicians-article{

    @include mobile-padding-sides;

    @include tablet{
        @include general-padding-headlines;
    }

    @include desktop{
        @include desktop-padding-headlines;
    }

    &__image{
        width: 100%;
        }
    
    &__content-box{

        @include tablet{
                @include padding-article-block;
            }
       
        }
        

    &__blockquote{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 1rem;
        }
    
    @include tablet{
            &__quotation--author{
                font-size: 1rem;
            }
    
        }

     &__side-blocks{
         
         &--title{

            @include tablet{
                font-weight: 600;
            }
            
           

            @include tablet{
                }
            }

            @include tablet{
                .musicians-article__sideBySide{
                    display: flex;
                }
            }

        p{
        
            margin-right: 1rem;
        
        width: 80%;
       

        }
    } 
}
