/**screen breakpoints*/

$breakpoint-mobile: 20rem;
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

/*primary colors*/

$black: #323232;
$silver: #AFAFAF;
$white: #ffffff;

/*secondary colors*/

$darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$fontFamily: 'AvenirNext LT Pro'