@use '../variable' as *;
@use '../mixins/mixin' as *;
@use '../mixins/mixins-paddings' as *;

.hero-img{
    
    background-color: $black;
    position: relative;
 

    &__background{
        background-image: url(../../../assets/Images/hero-shows.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @include mobile-padding-sides;
        width: 100%;
        opacity: 0.5;
        position: relative;
        z-index: 3;
        border: olive 4px solid;
       

        @include tablet{
            @include tablet-padding-sides;

            @include desktop{
                @include desktop-padding-sides;
            }
        }
    }  

    &__small-title{
        color: $white;
        position: relative;
        z-index: 4;
    
    }

    &__page-title{
        color: $white;
    }
}
