@use '../variable' as *;
@use '../mixins/mixin' as *;
@use '../mixins/mixins-paddings' as *;

.hero-img{
    
    background-color: $black;
    z-index: 1;
    position: relative;

    &__background{
        background-image: url(../../../assets/Images/hero-shows.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @include mobile-padding-sides;
        width: 100%;
        opacity: 0.5;
        border: olive 4px solid;
        z-index: 1;
        position: relative;
    }  

    &__small-title{
        color: $white;
    
    }

    &__page-title{
        color: white;
    }
}
