@use '../variable' as *;
@use '../mixins/mixin' as *;
@use '../mixins/mixins-paddings' as *;
@use '../typography' as *;


.shows{
    background-color: $alabaster;
    @include mobile-padding-sides;
    
    @include tablet{
        @include tablet-padding-sides;
    }

    @include desktop{
        @include desktop-padding-sides;
        display: inline-flex;
        width: 100%;
    }
   
    &__main-header{
        @include desktop{
        display: inline-flex;
        width: 15%;
        }
    }

    &__list{

        @include desktop{
            @include tablet-padding-headlines;
            width: 100%;
        }
    }

    &__block{

        @include tablet{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        }
    }

    &__dates-block{
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    &__location-block{
        width: 25%;
    }
    &__venue-block{
        width: 25%;
    }

    &__header{
        color: $mercury;
        display: flex;
    }

    &__date{
        display: inline-flex;
        font-weight: 600;
        margin-top: 0;
    }

    &__data{
        margin-top: 0;
    }

    &__button{
       @include button;
    }

    &__divider{
       @include divider;
    }
}

    @include tablet{
        .shows__section:nth-child(n + 2) > .shows__block > .shows__dates-block > .shows__header{
            display: none;
        }
    }

    @include tablet{
        .shows__section:nth-child(n + 2) > .shows__block > .shows__venue-block > .shows__header{
            display: none;
        }
    }

    @include tablet{
    .shows__section:nth-child(n + 2) > .shows__block > .shows__location-block > .shows__header{
        display: none;
        }
    }
