@use '../variable' as *;
@use '../mixins/mixins-paddings' as *;
@use '../mixins/mixin' as *;


.shows{
    background-color: $alabaster;
    @include mobile-padding-sides;

    &__section{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__block{

        @include tablet{
        display: flex;
        border: yellow 3px solid;
    }
}

    
    &__header{
        color: $mercury;
        font-weight: 500;
        display: inline-flex;
        height: 2rem;
        border: blue 3px solid;
    }

    &__date{
        font-weight: 600;
        display: inline-flex;
        height: 3rem;
        border: green 2px solid;
    }

    &__data{
        color: $black;
    }

    &__button{
       @include button;

       @include tablet{
        min-width: 9.375rem;
        max-width: 9.375rem;
        padding: 0rem 1.938rem;
        margin-left: auto
       }
    }
    &__divider{
       @include divider;
    }
}