@use '../mixins/mixin' as *;
@use '../variable' as *;
@use '../typography' as *;
@use '../mixins/mixins-paddings' as *;

.footer{
    background-color: $black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: $white;
    @include mobile-padding-sides;

    @include tablet{
        flex-direction: row;
        @include tablet-padding-sides;
    }
    @include desktop{
        @include desktop-padding-sides;
    }

    &__headline{
        color: $white;
        padding: 1rem 1rem 1rem 0rem;

        @include tablet{
            width: 33%;
        }
    }

    //social logos

    &__social-links{
        padding-bottom: 1rem;

        @include tablet{
            padding: 0;
            display: flex;
        }
        
    &-images{
        padding-right: 2rem;
        
        @include tablet{
            align-items: center;
            display: flex;
        }

        img{
            height: 2rem;
            }
        }
    }

    &__logo-text-one{
        display: none;

        @include tablet{
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: flex-end;
        }
    }
    
    //address and contact info 

    @include tablet{
        
        &__information{
        display: flex;
        width: 100%;
        }
        &-stylings{
            padding-right: 1rem;
            flex-grow: 2;
        }
    }

    &__name-and-company{
        h4{
            margin: 0;
            font-weight: 600;
        }

        @include mobile-footer-padding-between-contacts;

        @include tablet{
            @include tablet-footer-padding-between-text;
        }   
    }

    &__address{
        @include tablet{

            @include tablet-footer-padding-between-text;
        }
    }

    &__email{
        @include tablet{
            margin-top: 0;
        }
    }

    /*reset address font from italic to default*/

    address{
        font-style: normal;
    }

    // copyright section

    &__copyright{
        padding-top: 3rem;
        padding-bottom: 2rem;

        &--text{
            margin-top: 0;

            @include tablet{
                margin-top: 1rem;
            }
        }
    } 

    &__logo-text-two{
        
        max-height: 1.25rem;
        max-width: 7.5rem;

        @include tablet{
            display: none;
        }
    }     
}