@use '../variable' as *;
@use '../mixins/mixin' as *;
@use '../mixins/mixins-paddings' as *;
@use '../typography' as *;

header{
    background-color: $black;
        
    .header__wrapper{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        
        @include tablet{
            width: 100%;
            }
        }

        .header__logo{
            @include mobile-general-padding-headlines;
            color: $white;

            @include tablet{
                width: 30%;
                @include tablet-padding-nav;
                }

            @include desktop{
                @include desktop-padding-headlines;
                }

            &-text{
                align-items: center;
                max-height: 1.25rem;
                max-width: 7.5rem;
                }
            }

        .nav-bar{
            width: 100%;

            @include tablet{
                width: 70%;
                }

            &__list{
                display: flex;
                margin-block-start: 0em;
                padding-left: 0;
                height: 100%;

                @include tablet{
                    display: inline-flex;
                    align-items: center;
                    margin-block-end: 0em;
                    }
                }

            &__item{
                width: 50%;
                display: flex;
                align-items: center;
                }

            &__link{
                flex-grow: 2;  
                color: $mercury;  
                text-align: center;

                &--selected{
                    text-decoration: underline;
                    text-underline-offset: 50%;
                    color: $white;
        
                }

                @include tablet{
                    @include tablet-padding-nav;
                    }

                &:hover{
                    border-bottom: $alabaster 0.625rem solid;
                    color: $white;
                    font-weight: 600;
                    }
                }
                
                
        }
}
