@use '../variable' as *;
@use '../mixins/mixins-paddings' as *;
@use '../mixins/mixin' as *;
@use '../typography' as *;

/*this is the whole section*/
.comments{
    @include mobile-padding-sides;
    background-color: $alabaster;

    @include tablet{
        @include tablet-padding-sides;
    }

    @include desktop{
        @include desktop-padding-sides;
    }

    /*this is the inner block*/

    &__block{
        @include tablet{
            @include tablet-padding-sides;
        }

        @include desktop{
            @include desktop-padding-sides;
        }
    }

    /*these are general stylings throughout section*/
    &__button{
        @include button;
        margin: 1rem 0rem;

        @include tablet{
            margin-left: auto;
        }
    }

    &__form-avatar{
        border-radius: 50%;
        max-height: 2.25rem;
        width: 2.25rem;

        @include tablet{
            max-height: 3rem;
            width: 3rem;
        }
    }

    &__divider{
        @include divider;
    }


    /*this first section is for the user inputting comments*/

    /*flex box for user input comments*/
    &__form-flex{
        display: flex;
    }

    /*written text area*/
    &__form-img-box{
        display: flex;
        padding-top: 2.25rem;
    }


    /*user comment input section*/
    &__comment-box{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        @include mobile-padding-sides;
    }
    &__form-label{
        color: $mercury;
        @include mobile-padding-top-and-bottom;
    }

    &__name{
        @include form-field;
    }

    &__text-area{
        @include form-field;
        height: 10rem;
    }
    
    &__validation{
        border: 0.063rem #d22d2d solid;
    }

    /*this second section is form the comments that are listed after inputting*/
    &__listed-block{
        padding-bottom: 2rem;
    }

    &__listed-comments-flexbox{
        @include mobile-padding-sides;
        position: relative;
        width: 100%;
    }

    &__listed-img-flexbox{
        padding-top: 1rem;
    }

    &__listed-date{
        position: absolute;
        right: 1rem;
        top: 0;
        color: $mercury;   
    }

    &__avatar-placeholder{
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background-color: $mercury;
    }
   
    &__listed-text-area{
        margin: 0;
    }

    &__listed-comments-section{
        display: flex;
    }
    
    &__listed-subheader{
        font-weight: 600;
    }
}