@use '../variable' as *;
@use '../mixins/mixins-paddings' as *;
@use '../mixins/mixin' as *;


.comments{
    @include mobile-padding-sides;
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    background-color: $alabaster;

    &__block{
        display: flex;
        flex-direction: column;
        border: yellow 3px solid;
    }

    /*these are general stylings throughout section*/
    &__button{
        @include button;
     }

    &__divider{
        @include divider;
    }

    &__avatar-placeholder{
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background-color: $mercury;
    }

    /*this first section is for the user inputting comments*/
    /*flex box for user input comments*/
    &__form-flex{
        display: flex;
        border: green 3px solid;
    }

    /*written text area*/
    &__form-img-box{
        display: flex;
        padding-top: 2.25rem;
    }

    &__form-avatar{
    border-radius: 50%;
    max-height: 2.25rem;
    width: 2.25rem;
    }

    /*comment section*/
    &__comment-box{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        @include mobile-padding-sides;
    }
    &__form-label{
        padding-bottom: 0.25rem;
        font-weight: 600;
        color: $mercury;
        padding-top: 1rem;
    }

    &__name{
        @include form-field;
    }

    &__text-area{
        @include form-field;
        height: 10rem;
    }
    
    .validation{
        background-color: red;
    }

    /*this second section is form the comments that are listed after inputting*/

    &__listed-block{
        border: red 2px solid;
    }

    &__listed-comments-section{
        display: flex;
        
        border: blue 2px solid;
    }

}