@use '../variable' as *;
@use '../mixins/mixins-paddings' as *;
@use '../mixins/mixin' as *;


.comments{
    @include mobile-padding-sides;
    display: flex;
    flex-direction: column;
    background-color: $alabaster;

    @include tablet{
        @include tablet-padding-sides;

        @include desktop{
            @include desktop-padding-sides;
        }
    }

    &__block{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            @include tablet-padding-sides;
        }

        @include desktop{
            @include desktop-padding-sides;
        }
    }

    /*these are general stylings throughout section*/
    &__button{
        @include button;

        @include tablet{
            min-width: 9.375rem;
            max-width: 9.375rem;
            padding: 0rem 1.938rem;
            margin-left: auto
            
        }
     }

    &__divider{
        @include divider;
    }

    /*this first section is for the user inputting comments*/
    /*flex box for user input comments*/
    &__form-flex{
        display: flex;
    }

    /*written text area*/
    &__form-img-box{
        display: flex;
        padding-top: 2.25rem;
    }

    &__form-avatar{
    border-radius: 50%;
    max-height: 2.25rem;
    width: 2.25rem;
    }

    /*comment section*/
    &__comment-box{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        @include mobile-padding-sides;
    }
    &__form-label{
        padding-bottom: 0.25rem;
        font-weight: 600;
        color: $mercury;
        padding-top: 1rem;
    }

    &__name{
        @include form-field;
    }

    &__text-area{
        @include form-field;
        height: 10rem;
    }
    
    .validation{
        border: 0.063rem #d22d2d solid;
    }

    /*this second section is form the comments that are listed after inputting*/
    &__listed-block{
        padding-bottom: 2rem
    }

    &__listed-comments-flexbox{
        @include mobile-padding-sides;
        position: relative;
    }

    &__listed-img-flexbox{
        padding-top: 1rem;
    }

    &__listed-date{
        display: inline-flex;
        height: 1rem;
        position: absolute;
        right: 1rem;
        top: 0;
        color: $mercury;
        font-weight: 500;
    }

    &__avatar-placeholder{
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background-color: $mercury;
    }

    &__listed-subheader{
        display: inline-flex;
        height: 1rem;
        font-weight: 600;
    }
    &__listed-text-area{
        margin: 0;
        font-weight: 400;
    }
    &__listed-comments-section{
        display: flex;
    }

}