@use '../variable' as *;
@use '../mixins/mixin' as *;
@use '../mixins/mixins-paddings' as *;

.hero-img{
    
    background-image: url(../../../assets/Images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50vh;
    
    @include mobile-padding-sides;

    @include tablet{
        @include tablet-padding-sides;
        height: 60vh;
    }

    @include desktop{
        @include desktop-padding-sides;
        height: 70vh;
    }  

    &__background{
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 2;
    }  

    &__page-title{
        color: $white;
        position: relative;
        z-index: 4;
        margin-top: 0;
    }
}