@use '../mixins/mixin' as *;
@use '../mixins/mixins-paddings' as *;

.musicians-article{

    /*padding layout for page*/

    @include mobile-padding-sides;

    @include tablet{
        @include tablet-padding-sides;
    }

    @include desktop{
        @include desktop-padding-sides;
    }

    /*main image in section*/

    &__image{
        width: 100%;
    }

    /*offset contain for artices and content when in desktop and tablet view*/
    
    &__content-box{

        @include tablet{

            @include tablet-padding-article-block;
            }

            @include desktop{
                @include desktop-article-block-padding;
            }
        }
    
    /*quote under image*/
        
    &__blockquote{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 1rem;
    }
    
    @include tablet{
        &__quotation--author{
        font-size: 1rem;
        }
    }

    /*text block section */
    
     &__side-blocks{
         
         &--title{

            @include tablet{
                font-weight: 600;
            }
        }

            @include tablet{
                .musicians-article__sideBySide{
                    display: flex;
                }
            }

        p{
        
        margin-right: 1rem;
        width: 80%;
        }
    } 
}
