@use './partials/typography' as *;
@use './partials/header' as *;
@use './partials/footer' as *;

*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li{
    font-family: "AvenirNext LT Pro";
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

