@use './partials/typography' as *;
@use './partials/header' as *;
@use './partials/footer' as *;
@use './partials/mixin' as *;

*, *::before, *::after{
    box-sizing: border-box;
}


a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}


/*typography styles*/

.logo{
    @include mobiletext--section-header;
    font-weight: 400;

    @include tablet{
        @include section-header;
        font-weight: 400;
    }
  }

.footer__logo-nonMobile{
    display: none;

    @include tablet{
        display: contents;
        @include section-header;
        font-weight: 400;
    }
}

.footer__logo{
    @include mobiletext--section-header;
    font-weight: 400;

    @include tablet{
        display: none;

        @include desktop{
            display: none;
        }
    }
}

.nav-bar__link{
    @include mobiletext--section-header;
    font-weight: 400;

    @include tablet{
        @include subheader;
        font-weight: 400;
    }
  }

.page-header{
    @include mobiletext--page-header;
    margin: 0;

    @include tablet{
        @include page-header;
    }
}


.section-header{
    @include mobiletext--section-header;
    @include mobile-general-padding-headlines;
    margin-top: 0;

    @include tablet{
        @include section-header;
        @include tablet-padding-headlines;
    }
}

.subheader{
    @include mobiletext--subheader;
    
    @include tablet{
        @include subheader;
    }
    
}

.body-copy{
    @include mobiletext--body;

    @include tablet{
        @include text-body;
    }
}

.footer-text{
    @include mobiletext--footer;

    @include tablet{
        @include text-footer;
    }
}
