@use './partials/components-shows/hero-img-shows' as *;
@use './partials/components-shows/shows-section' as *;
@use './partials/typography' as *;
@use './partials/mixins/mixin' as *;
@use './partials/components-global/footer' as *;
@use './partials/components-global/header' as *;

/*setting all content to fit inside respective boxes*/

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*changing default list items to neutral settings*/

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}


